.items {
  position: relative;
}
.image {
  width: 350px;
  height: 300px;
}
.name {
  margin-top: 12px;
}
.city {
  margin-top: 12px;
}
.price {
  margin-top: 12px;
  font-weight: bold;
  margin-bottom: 12px;
}
